*{
    padding: 0;
    margin: 0;
}
body{
    background-color: gainsboro;
}
.main{
    text-align: center;
}
input{
    border-radius: 30px;
    width: 500px;
    height: 60px;
    padding-left: 20px;
    margin: 15px;
    border: none;
    font-size: 20px;
}
h1{
    color: rgb(65, 65, 113);
}
div{
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    padding-top: 30px;
}
textarea{
    border-radius: 30px;
    width: 500px;
    padding-top: 15px;
    height: 150px;
    padding-left: 20px;
    margin: 15px;
    border: none;
    font-size: 20px;
}
button{
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 50px;
    background-color: rgb(119, 89, 139);
    color: white;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    color: white;
     background-color: rgb(107, 57, 143);
    width: 170px;
    transition: 0.5s;
}
@media screen and (maxwidth: 600px){
    form{
        width: 90%;
    }
    input,textarea{
        height: 50px;
        font-size: 18px;
    }
    
}